global:
  imagePullSecrets:
  - application-collection

specs:
  image:
    registry: dp.apps.rancher.io
    repository: containers/ollama
    tag: 0.6.8
    pullPolicy: IfNotPresent

ingress:
  enabled: false
service:
  nodePort: 31434
  type: NodePort
persistentVolume:
  storageClass: local-path

ollama: 
  # -- List of models to pull at container startup
  models:
    pull:
      - qwen3:0.6b
    # create:
    #   - name: customer_assistant
    #     template: |
    #       FROM qwen3:0.6b
    #       SYSTEM """You are Customer Assistant, created by SUSE based on original works of Qwen developed by Alibaba. 
    #       You will use your tools to reply to customer queries againt the Northwind company. You always reply formatting
    #       your answers using bullet points and concise messaging. Your tone is friendly and proactive. If you don't know
    #       answer do not make it up, use the tool at your disposal."""
    #       MESSAGE user who are you?
    #       MESSAGE assistant I am a Customer Assistant, created by SUSE based on original works of Qwen developed by Alibaba

    # run: 
    #   - customer_assistant

      